.select-subject {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 20px;
}
.select-subject-img {
  margin-left: 8px;
  margin-bottom: 2px;
}
.button-center {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 28px;
}
.medicalService-more-popup {
  font-size: 16px;
}
.medicalService-more-popup a.link {
  font-size: 16px;
  color: #322aed;
}
.medicalService-more-popup a.link:hover {
  font-size: 16px;
  color: #352fb9;
}
.select-subject button.button_link {
  border: 0;
}
