.select-subject {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 20px;
}
.select-subject-img {
  margin-left: 8px;
  margin-bottom: 2px;
}
.button-center {
  text-align: center;
  margin-bottom: 28px;
}