@import '../../../theme/styles/settings';

.specialist {
  background-image: url(../../../theme/images/shutterstock153454142.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 496px;

  &-name {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.21;
    margin: 57px 0 16px;
  }

  &-expir {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 8px;
  }

  &-more {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #29266a;
    margin-bottom: 24px;

  }

  &-subject {
    font-size: 18px;
    font-weight: 600;
    color: #29266a;
    line-height: 1.6;
    margin-top: 24px;
  }

  &-txt {
    font-size: 14px;
    line-height: 1.43;
  }

  &-image {
    width: 100%;
    height: auto;
  }

  &-more-popup {
    @include fonts($size-xs, $font-family-base);
    max-width: 300px;
  }

  @media screen and (max-width: 599px) {
    .specialist-about {
      padding: 0 20px 0 30%;
    }
  }

}

.specialist-button {
  margin-top: 20px;
}
.specialist-button button.button {
  padding: 9px 28px;
}


