.how_work {
  &-title {
    text-align: center;
  }
  &-image {
    max-width: 319px;
    height: auto;
    margin-right: auto;
  }
  &-content {
    padding-top:60px;
  }
  &-imgage {
    max-width: 319px;
  }
}