.footer {
  font-size: 12px;
  font-weight: normal;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 138px 44px 120px;
}
.footer-first {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 6px;
}
.footer .footer-second {
  text-align: left;
  padding-bottom: 10px;
}
@media (min-width: 600px) {
  .footer .footer-second {
    text-align: center;
  }
}
@media (max-width: 599px) {
  footer.footer {
    padding: 35px 138px 44px 120px;
  }
  .footer .footer-center {
    margin: 15px 0;
    text-align: left;
  }
}


.footer-faq {
  display: inline-block;
  padding-right: 16px;
  vertical-align: top;
}
.footer-third {
  display: inline-block;
  vertical-align: top;
}

.footer-third p {
  font-size: 12px;
  line-height: 1;
  padding-bottom: 8px;
  margin: 0;
}
.fa-pic {
  max-width: 12px;
  margin-right: 5px;
}
